@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');

body {
    margin: 0 auto;
}

/* Header styling */

#logo-div hr {
    width: 20%;
    align-items: center;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    text-align: center;
}

header div {
    display: inline-block;
    margin: 10px 0;
}

#africa-svg {
    height: 50px;
    width: auto;
}

#logo-div {
    width: 100%;
    font-size: 30px;
}

#logo-text {
    text-align: left;
    vertical-align: super;
    margin: 0;
}

#logo-text p {
    transition: .2s all ease-in-out;
}

#logo-text p:hover {
    color: rgb(56, 34, 7);
    cursor: pointer;
}

div p {
    margin: 0;
}

div span {
    color: rgb(29, 49, 111);
}

#active {
    text-decoration: underline;
    color: rgb(32, 59, 139);
    font-weight: bold;
}

nav {
    width: 100%;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0 8px;
    transition: .2s all ease-in-out;
}

nav a {
    text-decoration: none;
    font-size: 1.3em;
    color: rgb(60, 60, 60) ;
    font-family: Roboto, sans-serif;
}

nav a:hover {
    color: rgb(60, 60, 60) ;
}

nav li:hover {
    transform: scale(1.1);
}

/* Top Image */

#top-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 15px 5px rgba(0,0,0,0.37);
}

#cover-text, #cover-text h2 {
    color: rgb(255, 255, 255);
    margin: 0;
}

#top-image {
    height: 600px;
    width: 100%;
    background: url("../images/top-image.jpeg") no-repeat center center;

    animation-name: zoom-effect;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    
}

/* Animation keyframes */
@keyframes zoom-effect {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    text-align: center;
    font-size: 100%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 500px;
    height: 180px;
    padding: 10px;
    background-color: rgba(29, 49, 111, 0.736);
    left: 0;
    right: 0;
    top: 40%;
    margin: auto;
    position: absolute;
}
/* Home Info section */
.image-right {
    width: 500px;
    height: auto;
    float: right;
    border-radius: 10px;
    outline: 10px solid rgb(29, 49, 111, 0.65);
    outline-offset: -10px;
}

.image-left {
    width: 500px;
    height: auto;
    float: left;
    border-radius: 10px;
    outline: 10px solid rgb(29, 49, 111, 0.65);
    outline-offset: -10px;
}

.image-right:hover {
    outline: 10px solid rgb(29, 49, 111, 0.8);
    outline-offset: -10px;
}

.image-left:hover {
    outline: 10px solid rgb(29, 49, 111, 0.8);
    outline-offset: -10px;
}

.info-section {
    margin: 20px;
    padding-top: 30px;
    font-family: Roboto, sans-serif;
    vertical-align: middle;
    right: 0;
    left: 0;
}

.card {
    width: 80%;
    height: auto;
}

#info-hr {
    width: 50%;
    align-items: center;
    margin: 0 auto;
}

ul {
    list-style-image: url('../images/elephant-icon.svg');
    font-weight: 400 !important;
}

#list {
    font-weight: bold;
    text-align: right;
}

/* Footer */
footer {
    background-color: rgba(72, 72, 72, 0.722);
    height: 200px;
    font-family: Oswald, sans-serif;
    padding: 10px;
}

footer h4 {
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    font-size: 25px;
    padding: 0;
}

footer li {
    display: inline;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .2s all ease-in-out;
}

footer a:hover {
    color: rgb(32, 59, 139);
}

#right {
    text-align: right;
}

#footer-contact {
    float: right;
    display: grid;
}

#footer-contact li {
    font-size: smaller;
    font-family: Roboto, sans-serif;
}

footer h5 {
    text-align: center;
    margin: 0 auto;
}