@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');

body {
    margin: 0 auto;
    scroll-behavior: smooth;
}

/* Header styling */

#logo-div hr {
    width: 20%;
    align-items: center;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    text-align: center;
}

header div {
    display: inline-block;
    margin: 10px 0;
}

#africa-svg {
    height: 50px;
    width: auto;
}

#logo-div {
    width: 100%;
    font-size: 30px;
}

#logo-text {
    text-align: left;
    margin: 0;
}

#logo-text p {
    transition: .2s all ease-in-out;
}

@media only screen and (max-width: 360px)  {
    
    #logo-text {
        font-size: 1rem;
    }
}

#logo-text p:hover {
    color: rgb(56, 34, 7);
    cursor: pointer;
}

div p {
    margin: 0;
}

div span {
    color: #586750;
}

#active {
    text-decoration: underline;
    color: #47583E;
    font-weight: bold;
}

nav {
    width: 100%;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 0 8px;
    transition: .2s all ease-in-out;
}

nav a {
    text-decoration: none;
    font-size: 1.3em;
    color: rgb(60, 60, 60);
    font-family: Roboto, sans-serif;
}

nav a:hover {
    color: rgb(60, 60, 60);
}

nav li:hover {
    transform: scale(1.1);
}

/* Top Image */

#top-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.37);
}

#cover-text,
#cover-text h2 {
    color: rgb(255, 255, 255);
    margin: 0;
}

#top-image {
    height: 600px;
    width: 100%;
    background: url("../images/top-image.jpg") no-repeat center center;

    animation-name: zoom-effect;
    animation-duration: 8s;
    animation-fill-mode: forwards;

}

/* Animation keyframes */
@keyframes zoom-effect {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    text-align: center;
    font-size: 100%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 500px;
    height: auto;
    padding: 30px;
    background-color: #47583ece;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    position: absolute;
}

.home-ul {
    font-size: 25px;
    direction: rtl;
}

@media only screen and (max-width: 532px)  {
    
    #cover-text {
        width: 100%;
        text-align: center;
    }
}


/* Home Info section */
.image-right {
    width: 560px;
    height: auto;
    float: right;
    border-radius: 10px;
    outline: 10px solid #586750;
    outline-offset: -10px;
}

.image-left {
    width: 560px;
    height: auto;
    float: left;
    border-radius: 10px;
    outline: 10px solid #586750;
    ;
    outline-offset: -10px;
}

.image-right:hover {
    outline: 10px solid #586750c9;
    outline-offset: -10px;
}

.image-left:hover {
    outline: 10px solid #586750c9;
    outline-offset: -10px;
}

.info-section {
    margin: 20px;
    padding: 30px 40px 30px 40px;
    padding-top: 30px;
    font-family: Roboto, sans-serif;
    vertical-align: middle;
    right: 0;
    left: 0;
}

.card {
    width: 80%;
    height: auto;
}

.info-hr {
    width: 50%;
    align-items: center;
    margin: 0 auto;
}

ul {
    list-style-image: url('../images/elephant-icon.svg');
    font-weight: 400 !important;
}

#list {
    font-weight: bold;
    text-align: right;
}

section h1 {
    font-family: 'Oswald', sans serif;
    text-align: center;
}
/* Media Query for the info section on the home Page */
@media only screen and (max-width: 460px)  {
    
    .info-section {
        padding: 0;
        font-size: 100%;
    }
    .home-ul {
        font-size: 20px;
        direction: ltr;
    }
    .image-right {
        margin-top: 20px;
    }
    .image-left {
        margin-bottom: 20px;
    }
    #list {
        text-align: left;
    }
}

/* Activities Page */
section .activities-header {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.button-style {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.info-style {
    margin: 20px;
}

.info-style div {
    text-align: center;
}

.button-image {
    width: 400px;
    border-radius: 20px;
    margin: 30px;
}

.card-style,
.front,
.back {
    width: 360px;
    height: 360px;
}

.card-style {
    margin: 10px;
    display: inline-block;
}

.front {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .25);
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.back {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .25);
    overflow: scroll;

    font-size: medium;
    color: black;

}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform .8s ease;
}

.back {
    transform: rotateY(180deg);
}

.card-style:hover .front {
    transform: rotateY(-180deg);
}

.card-style:hover .back {
    transform: rotateY(0deg);
}

.card-style {
    perspective: 75rem;
}

#activities-iframe {
    width: 100%;
    height: 400px;
}
/* Media Query for Activities Page */
@media only screen and (max-width: 425px) {
    .card-style {
        width: 100%;
        margin: 20px 0;
    }
    .front, .back {
        width: 100%;
    }
}

/* Conact Us */
.contact-form label {
    color: rgb(112, 58, 0);
}

.button-form {
    width: 100%;
    display: inline-block;
}

#submit {
    background-color: #703a00;
    border: none;
    border-radius: 20px;
    color: #fff;
    width: 200px;
    height: 50px;
    background-size: 300% 100%;
    transition: .2s all ease-in-out;
}

#submit:hover {
    transition: all .4s ease-in-out;
    background-position: 100% 0;
}

#submit:focus {
    outline: none;
}
.submit-color {
    background: linear-gradient(90deg, #703a00 0%, #1e4808 100%);
    box-shadow: 0 4px 15px 0 #6e4700;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-style {
    width: 100%;
    margin-bottom: 30px;
}

.contact-label {
    color: #6e4700;
    font-weight: 800;
}

#contact-map {
    width: 100%;
    height: 358px;
    border: 4px solid rgba(2, 2, 2, 0.624);
    border-radius: 10px;
}

#gmap-frame {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.contact-list a {
    color: #47583E;
    text-decoration: none;
}

.contact-list a:hover {
    color: #0a1d00;
    text-decoration: underline;
}

#video-style {
    padding: 0 40px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #705732;
  cursor: pointer;
  font-size: 40px;
}

#top-button:hover {
  color: #705732a5;
}

/* Footer */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 2%;
}

footer {
    background-color: #724A1B;
    height: auto;
    font-family: Oswald, sans-serif;
    padding: 10px;
    color: black;
    box-shadow: inset 0px 20px 7px -13px rgba(0, 0, 0, 0.33);
}

footer h4 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .2s all ease-in-out;
}

footer a:hover {
    color: #1e4808;
}

footer i {
    transition: .3s all ease-in-out;
}

footer i:hover {
    transform: scale(1.1) rotate(30deg);
}

footer h5 {
    text-align: center;
    margin: 0 auto;
}